@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
  --foreground: #191C1E;
  --muted-foreground: #3D4A3D;
  --grey: #6D7B6C;
}

@theme {
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-grey: var(--grey);
  --font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components{
  .btn{
    @apply py-3 w-full rounded-2xl;
  }
  .btn-primary{
    @apply text-white bg-[#006E2F];
  }
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */

  /* @media (prefers-color-scheme: dark) { */
  /*   color-scheme: dark; */
  /* } */
}
a {
  @apply text-[#006E2F]
}
hr{
  @apply border-t border-[#BCCBB9]
}
